@import 'src/styles';

.game-card {
  width: $card-width;
  height: $card-height;
  border: 2px solid $color-primary;
  margin: $card-margin;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $color-primary;
  background-color: $color-secondary;
}

.card-type {
  width: $card-width * 0.6;
  height: $card-height * 0.6;
}

.card-number {
  font-weight: bold;
  font-size: 32px;
}

.hide-card {
  display: none;
}
