<div class="game-board">
  <div class="left-player">
    {{leftPlayer}} - {{(leftPlayerWins | async).length}}
  </div>
  <div class="top-player">
    {{topPlayer}} - {{(topPlayerWins | async).length}}
  </div>
  <div class="right-player">
    {{rightPlayer}} - {{(rightPlayerWins | async).length}}
  </div>
  <div class="bottom-player">
    <p>{{bottomPlayer}} - {{(bottomPlayerWins | async).length}}</p>
    <div class="my-cards">
      <app-card
        *ngFor="let card of gameService.cards | async; let idx = index"
        [cardValue]="card"
        [firebaseIndex]="idx"
        [clickable]="true"
      >
      </app-card>
    </div>
  </div>
  <div class="played-cards">
    <app-card
      *ngFor="let card of (gameService.playedCards | async); let idx = index"
      [cardValue]="card"
      [ngClass]="getPlayedCardClass(idx)"
    >
    </app-card>
    <div class="new-round" *ngIf="gameService.startingNewRound">
      <button (click)="gameService.startNewRound()">Volgende slag</button>
    </div>
  </div>
</div>
