@import 'src/styles';

.game-board {
  position: relative;
  width: $board-width;
  height: $board-height;
}

.player {
  color: $color-secondary;
  position: absolute;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-player {
  @extend .player;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-player {
  @extend .player;
  left: 0;
  top: 40%;
  margin: 0 15px;
}

.top-player {
  @extend .player;
  width: 100%;
  top: 0;
  margin: 15px 0;
}

.right-player {
  @extend .player;
  right: 0;
  top: 40%;
  margin: 0 15px;
}

.my-cards {
  display: flex;
  flex-wrap: wrap;
}

.played-cards {
  position: absolute;
  top: 15%;
  right: 20%;
  left: 20%;
  bottom: 30%;
}

.played-card {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.played-card-left {
  @extend .played-card;
  left: 0;
  top: 20%;
  bottom: 20%;
}

.played-card-top {
  @extend .played-card;
  left: 20%;
  top: 0;
  right: 20%;
}

.played-card-right {
  @extend .played-card;
  right: 0;
  top: 20%;
  bottom: 20%;
}

.played-card-bottom {
  @extend .played-card;
  right: 20%;
  bottom: 0;
  left: 20%;
}

.new-round {
  @extend .played-card;
  right: 20%;
  bottom: 20%;
  left: 20%;
  top: 20%;
}

.trump-button {
  margin-right: 5px;
}

.trump-card {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-round {
  position: absolute;
  right: 30%;
  left: 30%;
  top: 35%;
  bottom: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  font-weight: bold;
  text-decoration: underline;
}