/* You can add global styles to this file, and also import other style files */

$color-primary: #333;
$color-secondary: #eee;

$board-width: 1200px;
$board-height: 800px;

$card-width: 70px;
$card-height: 100px;
$card-margin: 5px;
